.appointmentList {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    flex-wrap: wrap;
    height: 580px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(95, 89, 89, 0.5); 
    }
}

.appointmentCard {
    width: 330px;
    border: 1px solid rgb(223, 40, 40);
    margin: 1em .4em;
    border-radius: 5px;
    i {
        font-size: .9em;
    }
    & .calendar {
        font-size: 14px;
    }
}

.bookAppointmentPanel {
    display: flex;
    width: 400px;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #d8d4d4;
    border-radius: 5px;
    margin: auto;
    margin-top: 6px;
    background-color: #ffffffc4;
    & .bookAppointmentForm {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 610px;
        & textarea {
            font-size: 12px;
            width: 250px;
            height: 80px;
            outline-style: none;
            border: 1px solid #ccc8c8;
        }
        & input[type=text] {
            outline-style: none;
            border: 1px solid #ccc8c8;
            background-color: #e9e8e8;
            padding: 5px;
            width: 250px;

        }
        & #doctor, #current-user {
            cursor: not-allowed;
        }
        & #book-appointment {
            width: 12vw;
            height: 7vh;
            cursor: pointer;
        }
    }
    label {
        font-size: 12px;
        letter-spacing: .15em;
    }
}
